* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
}

header {
  background-color: #FDF0D5;
  color: #003049;
  font-size: 30px;
  text-align: center;
  text-wrap: balance;
}

header>img {
  width: 600px;
  margin: 40px;
  border-radius: 30px;
  margin-bottom: 70px;
}

main {
  background-color: #669BBC;
  padding: 60px;
}

nav {
  padding: 20px;
}

nav>ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav>ul a {
  text-decoration: none;
  font-size: 24px;
  color: #003049;
}

.about {
  display: flex;
  gap: 160px;
  flex-direction: row-reverse;
  padding-top: 30px;
}

.about>img {
  width: 400px;
  border-radius: 12px;
  filter: grayscale(1);
}

.about-content>h2 {
  color: #000;
  font-size: 34px;
  padding-bottom: 16px;
}

.about-content>p {
  color: #fff;
  font-size: 19px;
}

.services {
  padding: 60px;
  margin-top: 40px;
}

.services>h2 {
  font-weight: 700;
  font-size: 32px;
}

.services-flex {
  display: flex;
  gap: 90px;
}

.services-flex>img {
  border-radius: 13px;
  filter: grayscale(1);
  object-fit: cover;
}

.services-content {
  padding-top: 20px;
}

.services-content>article>h2 {
  padding: 11px 0;
}

.services-content>article>p {
  color: #fff;
}

.customer-service {
  padding: 60px;
  display: flex;
  flex-direction: row-reverse;
  gap: 70px;
}

.customer-content>h2 {
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 15px;
}

.customer-content>p {
  color: #fff;
  font-size: 22px;
}

.customer-service>img {
  width: 400px;
  border-radius: 13px;
  filter: grayscale(.6);
}

footer {
  padding: 60px 60px 20px 60px;
  background-color: #669BBC;
  border-top: 1px solid #548FB4;
}

footer>p {
  color: #fff;
}

footer>p:nth-last-child(2) {
  padding-bottom: 50px;
}

.footer-2 {
  padding-top: 40px;
  border-top: 1px solid #fff;
  color: #fff;
  text-align: center;
}